@charset "UTF-8";

header {
  .container {
    .inner {
      width: 1060px;
      margin: 0 auto;
      .content {
        .headerNav {
          color: #fff;
          font-size: 10px;
          letter-spacing: 1px;
          position: fixed;
          top: 10px;
          a {
            color: #fff;
          }
        }



      }
    }
  }
}
